* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid rebeccapurple;
}
.userblue {
  color: blue;
}
.userRed {
  color: red;
}
